<!DOCTYPE html>
<html>
<head>
  <title>Railscast</title>
  <%= stylesheet_link_tag "scaffold", "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="page">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  
  <div id="user_nav">
    <% if user_signed_in? %>
      <%= current_user.email %> &#183;
      <%= link_to 'My account', edit_user_registration_path %> &#183;
      <%= link_to 'Log out', '/logout' %>
    <% else %>
      <%= link_to 'Register', '/register' %> &#183;
      <%= link_to 'Log in', '/login' %>
    <% end %>
  </div>
  
  <h1 id="logo">
    <%= link_to root_url do %>
      <img src="/images/joystick.png" height="50" />
      <span class="title">GamersBlog</span>
      <span class="tagline">News for next generation gamers</span>
    <% end %>
  </h1>
  
  <%= yield %>
  
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
